body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.dnone{
    display: none !important;
}

.startscreen{
    min-height: 100vh;
    background-color: #336699;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pokemonpage {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.pokedex {
    min-height: 50vh;
    min-width: 100vw;
    background-color: #Fb6c6c;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.info-container {
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    min-width: 100vw;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.pokemonimage {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-top: -180px;
}

.home-button{
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 32px;
    left: 32px;
}

.home-button:hover{
    opacity: 0.7;
}

.home-img{
    width: 32px;
    height: 32px;
    object-fit: cover;
    margin-right: 12px;
}

.fact-container{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fact{
    min-width: 30vw;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.fact b {
    margin-left: 4px;
}

.pokemons-list{
    display: flex;
    flex-wrap:wrap;
}

.pokemons-list li{
    margin: 5px;
}

h5 {
    padding-top: 80px;
}

h1{
    padding: 20px;
}